.hamburger-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
  padding: 10px;
  background-color: $color-green;
}

.hamburger-menu > .title {
  font-family: $ff-gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: $color-white;
}

.menu-btn {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.menu-btn > span {
  position: absolute;
  display: block;
  width: 24px;
  border: 1px solid $color-white;
  background-color: $color-white;
}

.menu-btn > span::before,
.menu-btn > span::after {
  position: absolute;
  content: "";
  top: -6px;
  left: -1px;
  display: block;
  width: 24px;
  border: 1px solid $color-white;
  background-color: $color-white;
}

.menu-btn > span::after {
  top: 5px;
}

.checkbox {
  opacity: 0;
  position: absolute;
  top: 40%;
  right: 7%;
}

.checkbox:checked ~ .menu-btn > span::before {
  transform: rotade(0);
  top: 0;
  opacity: 0;
}

.checkbox:checked ~ .menu-btn > span::after {
  transform: rotate(90deg);
  top: 0;
}

.checkbox:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}

// .menu__label {
//   display: flex;
//   position: absolute;
//   top: 80px;
//   left: 28px;
//   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
// }

// .menu__input {
//   display: block;
//   position: relative;
//   border: none;
//   width: 233px;
//   padding: 8px;
//   background: $color-white;
//   border-radius: 10px;
// }

// .menu__search-btn {
//   display: block;
//   line-height: 0;
//   background-color: #f0f0f0;
//   border-radius: 10px;
//   border: none;
//   flex-grow: 1;
//   padding: 9px 8px 9px 10px;
// }

// .menu__icon {
//   fill: $color-green;
// }

// menu
.menu {
  position: fixed;
  top: 100px;

  // menu - imput
  &__input {
    // position: relative;
    display: block;
    width: 233px;
    padding: 8px;
    background: $color-white;
    // box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
  }
  // menu - label
  &__label {
    // position: absolute;
    display: flex;
    top: 80px;
    left: 5px;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }
  // menu search - btn
  &__search-btn {
    display: block;
    flex-grow: 1;
    padding: 9px 8px 10px 10px;
    line-height: 0;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
  }
  // menu - svg
  &__icon {
    fill: $color-green;
  }
}

.is-hidden {
  display: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
