$color-green: #65c466;
$color-white: #ffffff;
$color-footer-bg: #243246;
$color-text-main: #414141;
$color-text-second: #9d9d9d;
$color-form: #c2c2c2;
$color-checkbox-text: #a3a3a3;
$color-text-: #696969;
$color-contacts: #a9a9a9;
$color-footer-second: #959aa6;
$color-icon: #c2c1c2;
$color-rectangle: #e8e2d5;
$ff-gilroy: Gilroy;
$ff-trajan: Trajan Pro 3;
$ff-roboto: "Roboto", sans-serif;
